/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.correcta {
    color: white !important;
    background-color: rgb(var(--v-theme-success)) !important;
}

.fallada {
    color: white !important;
    background-color: #F44336 !important;
}

.oxford-blue-bg {
    background-color: #102542 !important;
}

.bitter-sweet-bg {
    background-color: #F87060 !important;   
}

.platinum-bg {
    background-color: #CDD7D6 !important;
}

.khaki-bg {
    background-color: #B3A394 !important;
}

.black-olive-bg {
    background-color: #363732 !important;
}

.maya-blue-bg {
    background-color: #66C3FF !important;
}

.vivid-sky-blue-bg {
    background-color: #53D8FB !important;
}

.lavender-pink-bg {
    background-color: #F7ACCF !important;
}

.cream-bg {
    background-color: #E5E8B6 !important;
}
.oxford-blue {
    color: #102542 !important;
}

.bitter-sweet {
    color: #F87060 !important;   
}

.platinum {
    color: #CDD7D6 !important;
}

.khaki {
    color: #B3A394 !important;
}

.black-olive {
    color: #363732 !important;
}

.maya-blue {
    color: #66C3FF !important;
}

.vivid-sky-blue {
    color: #53D8FB !important;
}

.lavender-pink {
    color: #F7ACCF !important;
}

.cream {
    color: #E5E8B6 !important;
}
.round-border {
    border-radius: 40px;
}
.big-font {
    font-size: 2em;
}
.myfont {
    font-family: 'acme';
}
.button {
    font-size: 1.5em;
}

/*#region AnimacionDeSello*/
.stamp {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    position: relative;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .50;
        transform-origin: 50% 50%;
        transform: rotate(0deg) scale(3);
        transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}

/*#endregion*/