/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.correcta{
    color: white !important;
    background-color: rgb(var(--v-theme-success)) !important;
}
.fallada{
    color: white !important;
    background-color: #F44336 !important;
}